.cover{
    background-color: transparent;
    
}

.front-cover-image{
    
    width: 100%;
    height: 400px;
    background-position-y: 70%;
    background-image: url('../assets/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px solid rgb(0, 0, 0);

    position: relative;
}

.front-cover-text{
    width: auto;
    color: transparent;
    font-family: Roboto Arial;
    font-weight: bold;
    font-size: 80px;

    position: absolute;
    top: 106px;
    left: 00px;
}

.section-services{
    background-color: lightblue;
    font-family: Roboto, Arial;
    font-weight: 800;
    color: aliceblue;
    font-size: 20px;
    
    position: relative;
    padding-top: 60px;      /* Espai per a que el menu no es mengi el text quan cliquem */
}
.section-services-header{
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: 800;
    color: whi;

    position: relative;
}

.section-services-text{
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: 800;
    color: white;

    position: relative;
}

/*Articles*/

.main{
    background-color: #f0f0f0;
    padding: 40px 40px;
    margin-top: 194px;
}

.article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-color: white;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}