.cover{
    background-color: blue;
    width: 100%;

}

.cover_image{
    background-color: pink;
    width: 100%;
    height: 100vh;

    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover_text{
    position: absolute;
    top: 60px;
    left: 16px;
    font-size: 30px;
    z-index: 9;
    
    color: white;
}

.cover_text_img{
    position: absolute;
    top: 60px;
    left: 16px;
    font-size: 80px;
    z-index: 10;
    
    color: white;
    width: 30vw;
}

.arrow{
    color: white;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    transition: all 300ms;
}

.arrow:hover{
    font-size: 50px;
}

.map{
    width: 10%;
}
/*
@media only screen and (min-width: 600px) {
    .cover_image{
    background-position: -60px center;
    }
}
 /*
@media only screen and (max-width: 800px) {
    .cover_image{
        background-position: center;
    }
}*/
  