.cover{
    background-color: black;
    width: 100%;

}

.cover_image{
    background-color: black;
    width: 100%;
    height: 100vh;

    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover_text{
    position: absolute;
    top: 60px;
    left: 16px;
    font-size: 30px;
    z-index: 9;
    
    color: white;
}

.cover_text_img{
    position: absolute;
    top: 60px;
    left: 16px;
    font-size: 80px;
    z-index: 10;
    
    color: white;
    width: 30vw;
}

.arrow{
    color: white;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    transition: all 300ms;
}

.arrow:hover{
    font-size: 50px;
}

.info_grid{
    display: grid;
    gap: 1rem;
    
    grid-template-columns: auto;
    /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
    /*grid-template-columns: auto auto auto;*/
    grid-auto-rows: 240px;
    
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*PHONE CARD SIZE*/
@media only screen and (max-width: 700px) {
    .photo_grid{
        grid-template-columns: auto;
        grid-auto-rows: 25vh;
    }
}

.info_card, .info_card_tall, .info_card_wide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 4vw;
    color: var(--white_alpha);
    text-decoration: none;

    background-color: var(--black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 300ms;
}

/*@media only screen and (max-width: 300px) {
    .card_text{
        display: none;
    }
}*/

.info_card_tall{
    grid-row: span 2 / auto;
}

.info_card_wide{
    grid-column: span 2 / auto;
}

.info_card:hover, .info_card_tall:hover, .info_card_wide:hover{
    box-shadow: rgba(2, 8, 20, 0.) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em;
    transform: translateY(-3px) scale(1.01);
    color: var(--white);
}


.photo_grid{
    display: grid;
    gap: 1rem;
    
    grid-template-columns: auto;
    /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
    /*grid-template-columns: auto auto auto;*/
    grid-auto-rows: 240px;
    
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*PHONE CARD SIZE*/
@media only screen and (max-width: 700px) {
    .photo_grid{
        grid-template-columns: auto;
        grid-auto-rows: 25vh;
    }
}

.card, .card_tall, .card_wide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 4vw;
    color: var(--white_alpha);
    text-decoration: none;

    background-color: var(--black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 300ms;
}

.card::after, .card_tall::after, .card_wide{
    width: 100vw;
}

/*@media only screen and (max-width: 300px) {
    .card_text{
        display: none;
    }
}*/

.card_tall{
    grid-row: span 2 / auto;
}

.card_wide{
    grid-column: span 2 / auto;
}

.card:hover, .card_tall:hover, .card_wide:hover{
    box-shadow: rgba(2, 8, 20, 0.) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em;
    transform: translateY(-3px) scale(1.01);
    color: var(--white);
}


/*PHONE*/
@media only screen and (max-width: 700px) {
    .cover_image{
        background-position: -60px center;
    }

    .cover_text_img{
        position: absolute;
        top: 60px;
        left: 1px;

        width: 90vw;
    }
}

/*IPAD*/
@media only screen and (max-width: 900px) {
    .cover_image{
        background-position: -60px center;
    }

    .cover_text_img{
        position: absolute;
        top: 60px;
        left: 1px;

        width: 90vw;
    }
} 